$color-white: #fff;
$color-black: #333;

$color-orange-50: #ffefe8;
$color-orange-500: #ff5f17;
$color-orange-600: #e85615;
$color-orange-800: #8c340d;

$color-grey-4: #f3f3f3;
$color-grey-6: #cccccc;
$color-grey-7: #7a7a7a;

$color-red-50: #feecee;
$color-red-500: #f33f51;
$color-red-600: #dd394a;

$spacing-none: 0;
$spacing-1: 2px;
$spacing-2: 4px;
$spacing-3: 8px;
$spacing-4: 12px;
$spacing-5: 16px;
$spacing-6: 20px;
$spacing-7: 24px;
$spacing-8: 28px;
$spacing-9: 32px;

:root {
  --color-white: #{$color-white};
  --color-black: #{$color-black}; 

  --color-orange-50: #{$color-orange-50};
  --color-orange-500: #{$color-orange-500};
  --color-orange-600: #{$color-orange-600};
  --color-orange-800: #{$color-orange-800};

  --color-grey-4: #{$color-grey-4};
  --color-grey-6: #{$color-grey-6};
  --color-grey-7: #{$color-grey-7};

  --color-red-50: #{$color-red-50};
  --color-red-500: #{$color-red-500};
  --color-red-600: #{$color-red-600};
}
